node_modules
.DS_Store
.idea/codeStyleSettings.xml

.idea/.name

.idea/encodings.xml

.idea/jsLibraryMappings.xml

.idea/libraries/speak_node_modules.xml

.idea/misc.xml

.idea/modules.xml

.idea/speak.iml

.idea/vcs.xml

.idea/workspace.xml
